{% extends "layout.template" %}

{% block content %}
<div class="alert alert-error">
  <h4>404 Not found!</h4>
  Our team are working hard to fix it as soon as possible!
</div>
<div class="centered">
  <img src="#" id="404image" class="img-polaroid" alt="404" />
</div>
{% endblock %}

{% set modules = ['jquery.raptorize', 'sprintf'] %}
{% block ready %}
$("#404image").attr('src', sprintf('/static/img/cat_%d.jpg', (Math.random() * 11) >> 0));
{% endblock %}

