{% extends "layout.template" %}

{% block content %}
<div class="alert alert-danger">
  <h4>404 Not found!</h4>
  Our team are working hard to fix it as soon as possible!
</div>
<div class="centered">
  <img src="#" id="404image" class="img-thumbnail center-block" alt="404" />
</div>
{% endblock %}

{% block ready %}
$("#404image").attr('src', '/static/img/cat_' + ((Math.random() * 11) >> 0) + '.jpg');
{% endblock %}

